<!--<h2>My Directive</h2>
<h3>{{sayHi}}</h3>
<h4>{{customerInfo}}</h4>-->
<style>
    .spiner{
        min-height: 80px;
        min-width: auto;
    }
    
    .time{
        position: relative;
        border: 1px dashed green;
        width: 129px;
        display: block;
        text-align: center;
    }
    
    .spiner{
        padding-left: 25px;
        display: block;
    }
    
    .center-spinner{
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 5px;
    }
</style>
 
 <div class="center-spinner">
  <img src="bower_components/SVG-Loaders/svg-loaders/puff.svg" alt="" class="spiner">
  <div class="time">{{currentTime}}</div>
</div>