<div class="modal-header">
    <h3 class="modal-title">Justin's Amazing Modal</h3>
</div>
<div class="modal-body">
    I'm a friggin' modal ova heeeya!
    <ul>
        <li ng-repeat="item in vm.items">
            <a href="#" ng-click="$event.preventDefault(); vm.selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ vm.selected.item || 'Nothing Selected Yet'}}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-info ok" ng-click="vm.ok(vm.selected.item)">ok</button>
    <button class="btn btn-info close" ng-click="vm.close()">Close</button>
</div>